In [1]:
import joblib

In [2]:
import pandas as pd

In [3]:
import sklearn

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
import json

In [7]:
from sklearn.model_selection import train_test_split

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
data = pd.read_csv("credit_data.csv")

In [13]:
data.head()

   clientid        income        age         loan       LTI  default
0         1  66155.925095  59.017015  8106.532131  0.122537        0
1         2  34415.153966  48.117153  6564.745018  0.190752        0
2         3  57317.170063  63.108049  8020.953296  0.139940        0
3         4  42709.534201  45.751972  6103.642260  0.142911        0
4         5  66952.688845  18.584336  8770.099235  0.130989        1

In [14]:
data.drop("clientid", inplace = True, axis=1)

In [15]:
X = data.drop('default', axis=1)

In [16]:
Y = data['default']

In [17]:
XT, xt, YT, yt = train_test_split(X,Y, test_size=0.30)

In [18]:
model = LogisticRegression()

In [19]:
model = model.fit(XT, YT)